/* Fontes do Google para o nosso projeto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* Variáveis das cores para serem usadas ao decorrer do site */
:root{
--main-color:#647bff;
--body-color:#090a1a;
--container-color:#171b3c;
--heading-color:#c1121f;
--box-color:#0d0f26;
--bg-color:rgb(227, 229, 241);
}

body{
    color: var(--bg-color);
    background: var(--body-color);
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}

a{
    text-decoration: none;
}

li{
    list-style:none;
}

/* Editando a classe container para armazenas os links do header */
.container{
    max-width: 960px;
    margin:auto;
    width: 100%;
} 

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index:100;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

/* Estilizando a classe nome para destacar o nome da pessoa */
.nome{
    font-size: large;
    font-weight: bold;
    color: var(--heading-color);
}

/* Estilizando a classe navbar */
.navbar{
    display:flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-link{
    font-size:0.97rem;
    padding:4px 8px;
    border-radius: 0.9rem;
    color:var(--bg-color);
}

/*Estilizando os links do header aplicando um hover*/
.nav-link:hover{
    background: #77040a;
    transition: 0.3s all linear;
}

.menu-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div{
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .linha1{
  transform: rotate(-45deg) translate(-5px,5px);   
}

.move .linha2{
   opacity:0;
}

.move .linha3{
    transform: rotate(-45deg) translate(-5px,5px);   
}

/* Apresentação */
.home{
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

.home-content{
    position: relative;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #77040a;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.home-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.home-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.home-text h3{
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-size: 1.1rem;
    color: var(--heading-color);
}

.home-text h2{
    font-size:2rem;
    line-height: 3rem;
}

.home-text h2:hover{
    color: #77040a;
    transition: 0.3s all linear;
}

.social-home{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    line-height: 4rem;
}

.social-home .bx{
    font-size:1rem;
    padding:10px;
    border-radius:50%;
    color: var(--bg-color);
    background:#797a80;
}

.social-home .bx:hover{
    background: #77040a;
    transition: 0.3s all linear;
}

/* Heading*/
.heading{
    font-size: 5rem;
    text-transform: uppercase;
    color:#c1121f;
    text-align: center;
}